*{
	margin: 0;
	text-decoration: none;
	padding: 0;
	background-color: #f5f6f1;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 91%;
	height: 50px; 
	margin: auto;
	font-size: 24px;
	color: #232323;
}

.btn{
    text-decoration: none;
    color: #232323;
    transition: .2s;
}

.header a:hover{
    text-decoration: none;
    color: #adadad;
}

.body{
	margin: auto;
	width: 93%;
	display: flex;
	gap: 32px;
	height: 92vh;
}

.img img{
	margin-top: 80px;
	width: 640px;
	height: 400px;
	margin-left: 20px;
	object-fit: cover;
	border-radius: 8px;
	border: solid #232323;
}

.about h2{
	text-align: center;
    margin-top: 38px;
	font-size: 48px;
	font-color: #232323;
	text-decoration: underline;
}

.about p{
	width: 100%;
	margin-top: 24px;
	font-size: 24px;
	font-color: #232323;
}

.about ul{
	width: 100%;
	margin-top: 24px;
	font-size: 24px;
	font-color: #232323;
	margin-left: 24px;
}

.buttons {
	display: flex;
	gap: 28px; 
}

.logo img{
	height: 8%;
	width: 8%;
	object-fit: cover;
/*	margin-left: 12%;*/
}