.main{
	margin: auto;
	padding: 16px 32px 16px 32px;
	text-align: center;
	font-size: 25px;
	margin-top: 120px;
}

.header{
	text-align: center;
}

.images{
	margin-top: 30px;
	display: flex;
	object-fit: cover; 
	border-radius: 24px;
	height: 250px;
	width: 250px;
	margin-left: calc((100%/2.75));
	gap: 30px;
}

#devs_title{
	margin-top: 100px;
	text-align: center;
}

#devs{
	display: flex;
	text-align: center;
	margin-left: calc((100%/2.62));
	gap: 110px;
}

.main a{
	color: #232323;
	background: red;
}