<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class = "header">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logoKV.svg') }}" alt="Logo.svg">
        </div>
       <div class="buttons">
            <a class="btn" href="{{ url_for('login')}}">
                Увійти     
            </a>
            <a class="btn" href="{{ url_for('register')}}">
                Зареєструватись
            </a>
       </div>
    </div>
    <hr>

    <div class="body">
        <div class="img">
            <img src="https://images.ctfassets.net/lzny33ho1g45/5kCSitKScbfSKUMuFh1kWD/0e8ff1f1cc8319a87fc72dfb285639d2/google-calendar-schedule-image5.png" alt="Потужність.png">
        </div>

        <div class="about">
            <h2>TeachPlanner</h2>
            <p>Календар-планувальник для учнів – це зручний інструмент, який допомагає організовувати навчальний процес і відстежувати важливі події. Вчителі можуть легко створювати події, планувати заходи та своєчасно інформувати учнів про ключові моменти шкільного життя. За допомогою цього календаря можна позначати різні типи подій, зокрема:</p>
            <ul>
                <li>Екзамен</li>
                <li>Контрольна робота</li>
                <li>Шкільні заходи</li>
                <li>Батьківські збори</li>
                <li>Особисті події</li>
            </ul>
        </div>
    </div>
    <hr>
</body>
</html>
